include base/mixins

p.
    You are allowed to ask any and all of the following modifications to some or all of the footage you appear recognisably.
    These options include, but are not limited to:
+checkbox("obfuscate", "voice", "Voice obfuscation through any distortion, optionally making it incomprehensible")
+checkbox("obfuscate", "dialogue", "Dialogue obfuscation, rendering what you said incomprehensible")
+checkbox("obfuscate", "face", "Face obfuscation through cropping, overlay")
+checkbox("obfuscate", "hair", "Hair obfuscation")
+checkbox("obfuscate", "headware", "Headwear obfuscation")
+checkbox("obfuscate", "body", "Body obfuscation through cropping. This includes face, hair and headwear from above, whilst also obfuscating any clothes and/or body parts of you")
+checkbox("obfuscate", "file", "File obfuscation. This means that any files (including originals, with as much extent as possible) containing any resemblance of you will be edited in any and all ways above to ensure as little traces as possible to be left.")
