
p Please censor my likeness in the ways mentioned above when releasing the media in any or multiple of the following conditions. 
+checkbox("on", "social-media-corporate", "Posted on corporate social media (Twitter, Facebook, Instagram…)")
+checkbox("on", "social-media-federated", "Posted on federated social media (Mastodon)")
+checkbox("on", "shared-folder-corporate", "Stored in a corporate shared internet folder (Google Drive, OneDrive)")
+checkbox("on", "shared-folder-selfhosted", "Stored in an independent self-run shared internet folder (NextCloud, FTP, Samba)")
+checkbox("on", "shared-folder-password-protected", "Stored in a shared internet folder (password protected)")
+checkbox("on", "insecure-chats", "Sent in insecure chats (Messenger, Telegram)")
+checkbox("on", "secure-chats", "Sent in secure chats (Signal, encrypted Matrix, WhatsApp, Telegram private chat)")
+checkbox("on", "any-nsfw-or-gray-zone", "Whenever you have any appearances that could be seen as “NSFW”. This includes (but is not limited to) consumption of any alcohol, legal grey zone activities and others")
